
{%extends 'base.html' %}

{% load static  %}

{% block content %}
<div>
    <h1 class="text-center">Blog App</h1>
</div>
<br>
<div class="card-container">
    <div class=" row row-cols-1 row-cols-md-3 g-4">    
        {% for post in posts  %}
        <div class="col d-flex justify-content-center ">
            <div class="card  p-2">
                <img src="{{ post.image.url }}" class="card-img-top w-100 " alt="image">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text">{{post.content}}</p>
                    <p class="text-danger">icons / comments / like</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{post.last_update}}</small>
                </div>  
                <div class="text-center m-2">
                    <a href="{% url 'detail' post.id %}">
                <button type="button" class="btn btn-info w-50">Details</button></a>
                </div>          
                
            </div>
        </div> 

        {% endfor %}  
    
    </div>
</div>

    
{% endblock content %}
    